<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <img src="assets/images/logo-dark.png" alt="Logo" class="footer-logo" />

        <p>
          Biz, Qayğı xeyriyyə fondu komandası olaraq, ehtiyacı olan insanlara
          yardım etmək və cəmiyyətin rifahını artırmaq məqsədini güdən bir
          xeyriyyə təşkilatıyıq. Müxtəlif sosial problemlərlə mübarizə aparmaq,
          ehtiyacı olan fərdlərə dəstək olmaq və cəmiyyətimizdə müsbət
          dəyişikliklər yaratmaq bizim əsas məqsədimizdir.
        </p>
        <p>
          Bizimlə birgə, sadəcə yardıma ehtiyacı olan insanlara dəstək olmaqla
          qalmayıb, eyni zamanda cəmiyyətimizin inkişafına töhfə vermiş
          olursunuz. Komandamız, hər kəsin daha yaxşı bir həyat sürməsi üçün
          özünü bu məqsədə adamışdır.
        </p>
      </div>
      <div class="col-md-4 col-sm-12 useful-links">
        <h2>Faydalı Linklər</h2>
        <ul class="list-unstyled link-list">
          <li>
            <a href="/about-us" onclick="window.scrollTo(0, 0)">Haqqımızda</a
            ><i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a href="/services" onclick="window.scrollTo(0,0)">Ən son işlər</a
            ><i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a href="/gallery" onclick="window.scrollTo(0,0)">Qalereya</a
            ><i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a href="/contact-us" onclick="window.scrollTo(0,0)">Əlaqə</a
            ><i class="fa fa-angle-right"></i>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12 contact-info map-img">
        <h2>Əlaqə</h2>
        <address class="md-margin-bottom-40">
          Bakı şəhəri <br />
          Nəsimi rayonu <br />
          Üzeyir Hacıbəyli küçəsi <br />
          Phone: +994704916566 <br />
          Email: qayğı.xeyriyye&#64;gmail.com<br />
        </address>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <ul class="social-icons">
          <li>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center footer-bottom">
        <p>
          2024 © All Rights Reserved | Designed and Developed by Vugar Garayli
        </p>
      </div>
    </div>
  </div>
</footer>
