<div class="admin-sidebar">
  <div class="sidebar-header">
    <h1>Admin Panel</h1>
  </div>
  <ul>
    <li>
      <a routerLink="/admin-dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
      <a routerLink="/admin-projects" routerLinkActive="active">Layihələr</a>
    </li>
    <li>
      <a routerLink="/admin-gallery" routerLinkActive="active">Qalereya</a>
    </li>
    <li>
      <a routerLink="/admin-blogs" routerLinkActive="active">Bloglar</a>
    </li>
    <li>
      <a routerLink="/admin-volunteers" routerLinkActive="active">Könüllülər</a>
    </li>
    <li>
      <a routerLink="/admin-help-requests" routerLinkActive="active">Yardım İstəkləri</a>
    </li>
  </ul>
</div>
