<div class="page-nav no-margin row">
  <div class="container">
    <div class="row">
      <h2>Könüllü Ol</h2>
      <ul>
        <li>
          <a href="#"><i class="fas fa-home"></i> Bizə qoşul</a>
        </li>
        <li><i class="fas fa-angle-double-right"></i> Könüllü Ol</li>
      </ul>
    </div>
  </div>
</div>
<section class="our-blog">
  <div class="form-volunteer">
    <h2>Bizimlə Əlaqə</h2>
    <form>
      <div class="form-groups">
        <label for="first-name">Ad:</label>
        <input type="text" id="first-name" name="first-name" required />
      </div>
      <div class="form-groups">
        <label for="last-name">Soyad:</label>
        <input type="text" id="last-name" name="last-name" required />
      </div>
      <div class="form-groups">
        <label for="father-name">Ata adı:</label>
        <input type="text" id="father-name" name="father-name" required />
      </div>
      <div class="form-groups">
        <label for="dob">Doğum tarixi:</label>
        <input type="date" id="dob" name="dob" required />
      </div>
      <div class="form-groups">
        <label for="image">Şəkil:</label>
        <input
          type="file"
          id="profil-picture"
          name="profil-picture"
          accept="image/*"
          required
        />
      </div>
      <div class="form-groups">
        <label for="phone">Mobil nömrə:</label>
        <input type="tel" id="phone" name="phone" required />
      </div>
      <div class="form-groups">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-groups">
        <label for="address">Faktiki yaşayış:</label>
        <input
          type="text"
          id="address"
          name="address"
          placeholder="Rayon, qəsəbə"
        />
      </div>
      <button id="volunteer-btn" type="submit">Göndər</button>
    </form>
  </div>
</section>
