<div class="page-nav no-margin row">
  <div class="container">
    <div class="row">
      <h2>Xeyriyyəçilik haqqında</h2>
      <ul>
        <li>
          <a href="#"><i class="fas fa-home"></i> Ana Səhifə</a>
        </li>
        <li><i class="fas fa-angle-double-right"></i> Haqqımızda</li>
      </ul>
    </div>
  </div>
</div>

<!--  ************************* About Us Starts Here ************************** -->

<div class="about-us container-fluid">
  <div class="container">
    <div class="row natur-row no-margin w-100">
      <div class="text-part col-md-6">
        <h2 class="fonts">Xeyriyyəçilik haqqında</h2>
        <p>
          Biz, Qayğı xeyriyyə komandası olaraq, ehtiyacı olan insanlara yardım
          etmək və cəmiyyətin rifahını artırmaq məqsədini güdən bir xeyriyyə
          təşkilatıyıq. Müxtəlif sosial problemlərlə mübarizə aparmaq, ehtiyacı
          olan fərdlərə dəstək olmaq və cəmiyyətimizdə müsbət dəyişikliklər
          yaratmaq bizim əsas məqsədimizdir. <br />Missiyamız və Dəyərlərimiz
          Yardım və Dəstək: Bizim missiyamız, ehtiyacı olan insanlara maddi və
          qeyri-maddi dəstək təqdim edərək onların həyat şəraitini
          yaxşılaşdırmaqdır. Sosial xidmətlər, təhsil, səhiyyə və digər
          sahələrdə yardım etməyi prioritet olaraq qəbul edirik. <br />
          Şəffaflıq və Hesabatlılıq: Xeyriyyə fəaliyyətlərimizin şəffaf və
          hesabatlı şəkildə həyata keçirilməsini təmin edirik. Maliyyə
          resurslarımızın doğru və effektiv şəkildə istifadə olunmasına diqqət
          yetiririk ki, ictimaiyyət bizim işlərimizə tam etibar edə bilsin.
          <br />
          İctimai Maarifləndirmə: Sosial məsuliyyətin və xeyriyyəçiliyin
          əhəmiyyətini artırmaq məqsədilə ictimai maarifləndirmə kampaniyaları
          keçiririk. İnsanları yardımlaşma ruhu ilə tanış edərək, sosial
          problemlərə qarşı birgə mübarizə aparmağı təşviq edirik.
        </p>
      </div>
      <div class="image-part col-md-6">
        <div class="about-quick-box row">
          <div class="col-md-6">
            <div class="about-qcard">
              <i class="fas fa-user"></i>
              <p>Könüllü ol</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-qcard">
              <i class="fas fa-search-dollar red"></i>
              <p>Sürətli yığım</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-qcard">
              <i class="fas fa-donate yell"></i>
              <p>İanə vermək</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-qcard">
              <i class="fas fa-hands-helping blu"></i>
              <p>Yardım etmək</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ################# Mission Vision Start Here #######################--->

<section class="container-fluid mission-vision">
  <div class="container">
    <div class="row mission">
      <div class="col-md-6 mv-det">
        <h1 class="fonts">Bizim missiyamız</h1>
        <p>
          Bizim məqsədimiz, ehtiyacı olanların yanında olmaq, onların
          həyatlarına müsbət təsir göstərmək və cəmiyyətimizin ən zəif üzvlərinə
          dəstək olmaqdır. Yardım əlimizi uzatmaqla, sevgi və şəfqətlə dolu bir
          dünya yaratmaq üçün çalışırıq. Bizim üçün hər bir insanın ləyaqət və
          hörmətlə yaşaması vacibdir. Əsas dəyərlərimiz bərabərlik, həmrəylik və
          insanlıqdır. Biz yalnız maddi yardımla kifayətlənmirik, həm də
          insanları ruhlandırmaq, onlara yeni ümidlər vermək üçün çalışırıq.
          Bizim missiyamız, yalnız bu günün problemlərini həll etmək deyil, həm
          də gələcək nəsillər üçün daha ədalətli və şəfqətli bir dünya
          qurmaqdır.
        </p>
      </div>
      <div class="col-md-6 mv-img brder">
        <img src="assets/images/misin.jpg" alt="" />
      </div>
    </div>
    <div class="row vision">
      <div class="col-md-6 mv-img brder">
        <img src="assets/images/vision.jpg" alt="" />
      </div>
      <div class="col-md-6 mv-det">
        <h1 class="fonts">Vizyonumuz</h1>
        <p>
          Biz elə bir gələcək görürük ki, orada hər bir insanın həyatı dəyərli
          və əzizdir. Heç kim aclıqdan, yoxsulluqdan və ya təhsil
          çatışmazlığından əziyyət çəkməməlidir. Biz, insanların imkanlarının
          məhdud olmadığı, hər kəsin bərabər şərtlərlə inkişaf edə biləcəyi bir
          cəmiyyət qurmaq üçün çalışırıq. Gələcəkdə, yardım ehtiyacının
          azaldığı, insanların bir-birinə qarşılıqlı dəstək olduğu və sosial
          ədalətin təmin olunduğu bir dünya təsəvvür edirik. Vizyonumuz,
          cəmiyyətin hər bir üzvünün rifahını və xoşbəxtliyini təmin etmək üçün
          birgə çalışmağa yönəlmiş bir hərəkat yaratmaqdır. Biz inanırıq ki,
          birlikdə daha güclüyük və hər birimizin töhfəsi böyük dəyişikliklərə
          səbəb ola bilər. Bizim vizyonumuz, dünya miqyasında insanlara olan
          inamı və həmrəyliyi artırmaq və beləliklə, daha parlaq bir gələcək
          qurmaqdır.
        </p>
      </div>
    </div>
  </div>
</section>
