<carousel [interval]="3000" [noPause]="true">
  <slide>
    <img
      src="/assets/images/slider/slider-1.jpg"
      alt="Slide 1"
      class="d-block w-100"
    />
    <div class="carousel-caption">
      <h3 class="title">İnsanlıq birlikdə daha güclüdür.</h3>
    </div>
  </slide>
  <slide>
    <img
      src="/assets/images/slider/slider-2.jpg"
      alt="Slide 2"
      class="d-block w-100"
    />
    <div class="carousel-caption">
      <h3 class="title">
        Kiçik dəstək bir çox insanın həyatında böyük fərq yarada bilər.
      </h3>
    </div>
  </slide>
  <slide>
    <img
      src="/assets/images/slider/slider-3.jpg"
      alt="Slide 3"
      class="d-block w-100"
    />
    <div class="carousel-caption">
      <h3 class="title">Hər yardım bir ürəkdə iz qoyar.</h3>
    </div>
  </slide>
</carousel>

<div class="about-us container-fluid">
  <div class="container">
    <div class="row natur-row no-margin w-100">
      <div class="text-part col-md-6">
        <h2>Xeyriyyəçilik haqqında</h2>
        <p>
          Biz, Qayğı xeyriyyə komandası olaraq, ehtiyacı olan insanlara yardım
          etmək və cəmiyyətin rifahını artırmaq məqsədini güdən bir xeyriyyə
          təşkilatıyıq. Müxtəlif sosial problemlərlə mübarizə aparmaq, ehtiyacı
          olan fərdlərə dəstək olmaq və cəmiyyətimizdə müsbət dəyişikliklər
          yaratmaq bizim əsas məqsədimizdir. <br />Missiyamız və Dəyərlərimiz
          Yardım və Dəstək: Bizim missiyamız, ehtiyacı olan insanlara maddi və
          qeyri-maddi dəstək təqdim edərək onların həyat şəraitini
          yaxşılaşdırmaqdır. Sosial xidmətlər, təhsil, səhiyyə və digər
          sahələrdə yardım etməyi prioritet olaraq qəbul edirik. <br />
          Şəffaflıq və Hesabatlılıq: Xeyriyyə fəaliyyətlərimizin şəffaf və
          hesabatlı şəkildə həyata keçirilməsini təmin edirik. Maliyyə
          resurslarımızın doğru və effektiv şəkildə istifadə olunmasına diqqət
          yetiririk ki, ictimaiyyət bizim işlərimizə tam etibar edə bilsin.
          <br />
          İctimai Maarifləndirmə: Sosial məsuliyyətin və xeyriyyəçiliyin
          əhəmiyyətini artırmaq məqsədilə ictimai maarifləndirmə kampaniyaları
          keçiririk. İnsanları yardımlaşma ruhu ilə tanış edərək, sosial
          problemlərə qarşı birgə mübarizə aparmağı təşviq edirik.
        </p>
      </div>
      <div class="image-part col-md-6">
        <div class="about-quick-box row">
          <div class="col-md-6">
            <div class="about-qcard">
              <i class="fas fa-user"></i>
              <p>Könüllü ol</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-qcard">
              <i class="fas fa-search-dollar red"></i>
              <p>Sürətli yığım</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-qcard">
              <i class="fas fa-donate yell"></i>
              <p>İanə vermək</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-qcard">
              <i class="fas fa-hands-helping blu"></i>
              <p>Yardım etmək</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ################# Mission Vision Start Here #######################--->

<section class="container-fluid mission-vision">
  <div class="container">
    <div class="row mission">
      <div class="col-md-6 mv-det">
        <h1 class="fonts">Bizim missiyamız</h1>
        <p class="stles">
          Bizim məqsədimiz, ehtiyacı olanların yanında olmaq, onların
          həyatlarına müsbət təsir göstərmək və cəmiyyətimizin ən zəif üzvlərinə
          dəstək olmaqdır. Yardım əlimizi uzatmaqla, sevgi və şəfqətlə dolu bir
          dünya yaratmaq üçün çalışırıq. Bizim üçün hər bir insanın ləyaqət və
          hörmətlə yaşaması vacibdir. Əsas dəyərlərimiz bərabərlik, həmrəylik və
          insanlıqdır. Biz yalnız maddi yardımla kifayətlənmirik, həm də
          insanları ruhlandırmaq, onlara yeni ümidlər vermək üçün çalışırıq.
          Bizim missiyamız, yalnız bu günün problemlərini həll etmək deyil, həm
          də gələcək nəsillər üçün daha ədalətli və şəfqətli bir dünya
          qurmaqdır.
        </p>
      </div>
      <div class="col-md-6 mv-img brder">
        <img src="assets/images/misin.jpg" alt="" />
      </div>
    </div>
    <div class="row vision">
      <div class="col-md-6 mv-img brder">
        <img src="assets/images/vision.jpg" alt="" />
      </div>
      <div class="col-md-6 mv-det">
        <h1 class="fonts">Vizyonumuz</h1>
        <p class="stles">
          Biz elə bir gələcək görürük ki, orada hər bir insanın həyatı dəyərli
          və əzizdir. Heç kim aclıqdan, yoxsulluqdan və ya təhsil
          çatışmazlığından əziyyət çəkməməlidir. Biz, insanların imkanlarının
          məhdud olmadığı, hər kəsin bərabər şərtlərlə inkişaf edə biləcəyi bir
          cəmiyyət qurmaq üçün çalışırıq. Gələcəkdə, yardım ehtiyacının
          azaldığı, insanların bir-birinə qarşılıqlı dəstək olduğu və sosial
          ədalətin təmin olunduğu bir dünya təsəvvür edirik. Vizyonumuz,
          cəmiyyətin hər bir üzvünün rifahını və xoşbəxtliyini təmin etmək üçün
          birgə çalışmağa yönəlmiş bir hərəkat yaratmaqdır. Biz inanırıq ki,
          birlikdə daha güclüyük və hər birimizin töhfəsi böyük dəyişikliklərə
          səbəb ola bilər. Bizim vizyonumuz, dünya miqyasında insanlara olan
          inamı və həmrəyliyi artırmaq və beləliklə, daha parlaq bir gələcək
          qurmaqdır.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- ################# Events Start Here#######################--->
<section class="events">
  <div class="container">
    <div class="session-title row">
      <h2 class="fonts">Əsas Dəyərlər</h2>
      <p>
        Biz, cəmiyyətin ən həssas üzvlərinə müalicə, ərzaq və geyim dəstəyi ilə
        dayaq oluruq.
      </p>
    </div>
    <div class="event-ro row">
      <div class="col-md-4 col-sm-6">
        <div class="event-box">
          <img src="/assets/images/deyerler/mualice.jpeg" alt="" />
          <h4>Müalicə Yardımı</h4>

          <p class="raises"><span>Raised : $34,425</span> / $500,000</p>
          <p class="desic">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's
          </p>
          <button class="btn btn-success btn-sm">Donate Now</button>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="event-box">
          <img src="assets/images/deyerler/erzaq.jpg" alt="" />
          <h4>Ərzaq Yardımı</h4>
          <p class="raises"><span>Raised : $34,425</span> / $500,000</p>
          <p class="desic">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's
          </p>
          <button class="btn btn-success btn-sm">Donate Now</button>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="event-box">
          <img src="assets/images/deyerler/clothing.jpg" alt="" />
          <h4>Geyim Dəstəyi</h4>
          <p class="raises"><span>Raised : $34,425</span> / $500,000</p>
          <p class="desic">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's
          </p>
          <button class="btn btn-success btn-sm">Donate Now</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ################# Charity Number Starts Here#######################--->

<div class="doctor-message">
  <div class="inner-lay">
    <div class="container">
      <div class="row session-title">
        <h2>Uğurlarımız Rəqəmlərdə</h2>
        <p>
          Xeyriyyə təşkilatımız müxtəlif yaş qruplarına müalicə, təhsil, ərzaq
          və geyim yardımı təmin edir. Müxtəlif layihələrimizlə cəmiyyətimizə
          dəstək olmağa çalışırıq.
        </p>
      </div>
      <div class="row">
        <div class="col-sm-3 numb">
          <h3>12+</h3>
          <span>Təcrübəmiz</span>
        </div>
        <div class="col-sm-3 numb">
          <h3>1812+</h3>
          <span>xoşbəxt Ailələr</span>
        </div>
        <div class="col-sm-3 numb">
          <h3>52+</h3>
          <span>Tədbirlər</span>
        </div>
        <div class="col-sm-3 numb">
          <h3>48+</h3>
          <span>Yığılmış məbləğ</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ################# Our Blog Starts Here#######################--->

<section class="our-blog">
  <div class="container">
    <div class="row session-title">
      <h2 class="fonts">Xəbərlər</h2>
      <p class="subtitle">
        Xeyriyyə Təşkilatımızın irəliləyişləri və yeni lahiyələrimizlə bağlı ən
        son məlumatlar
      </p>
    </div>
    <div class="blog-row row">
      <div class="col-md-4 col-sm-6">
        <div class="single-blog">
          <figure>
            <img src="assets/images/events/image_01.jpg" alt="" />
          </figure>
          <div class="blog-detail">
            <small>By Admin | August 10 2018</small>
            <h4>Methods of Recuirtments</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              justo neque, aliquet sit amet elementum vel, vehicula eget eros.
              Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque.
              Praesent.
            </p>
            <div class="link">
              <a href="">Read more </a
              ><i class="fas fa-long-arrow-alt-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single-blog">
          <figure>
            <img src="assets/images/events/image_02.jpg" alt="" />
          </figure>
          <div class="blog-detail">
            <small>By Admin | August 10 2018</small>
            <h4>Methods of Recuirtments</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              justo neque, aliquet sit amet elementum vel, vehicula eget eros.
              Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque.
              Praesent.
            </p>
            <div class="link">
              <a href="">Read more </a
              ><i class="fas fa-long-arrow-alt-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single-blog">
          <figure>
            <img src="assets/images/events/image_03.jpg" alt="" />
          </figure>
          <div class="blog-detail">
            <small>By Admin | August 10 2018</small>
            <h4>Methods of Recuirtments</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              justo neque, aliquet sit amet elementum vel, vehicula eget eros.
              Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque.
              Praesent.
            </p>
            <div class="link">
              <a href="">Read more </a
              ><i class="fas fa-long-arrow-alt-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
