<div class="admin-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2>Admin Panel</h2>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/admin/projects">Lahiyələrimiz</a></li>
        <li><a routerLink="/admin/gallery">Qalereya</a></li>
        <li><a routerLink="/admin/blogs">Blog Yazıları</a></li>
        <li><a routerLink="/admin/admin-volunteers">Könüllü Qeydiyyat</a></li>
        <li><a routerLink="/admin/help-requests">Yardım İstəkləri</a></li>
      </ul>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
